@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather&display=swap');

:root {
    --main-color: #5e9faf;
    --secondary-color: #90CAD7; 
    --accent-color: rgb(97, 193, 216); 
    --accent-color-opaq: rgba(97, 192, 216, 0.8); 
    --bkg-color: #cee8ee;
    --blk-text: #052125;
    --gray-text: #333;
    --ob-blue: #71627a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bkg-color);
    color: var(--blk-text);
    font-family: "Karla", "Merriweather", serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

