@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cee8ee;
    color: #000;
    font-family: "Karla", "Merriweather", serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

