#home-section {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#home-section .container {
    min-height: 90vh;
    border-radius: 20px; 
    box-sizing: border-box; 
    overflow: hidden; 

    display: flex;  
    justify-content: center;  
    align-items: center;
}

#home-box {
    background: var(--main-color);
    border-radius: 8vh; 
    padding: 0 2vh; /* top/bot, left/right */
    width: 100%;
    height: 80vh;

    box-sizing: border-box; 
    overflow: hidden; 
    box-shadow: rgb(0 0 0 / 50%) 0 0 1vh 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#main-box {
    flex:3;
    padding: 6vh;
    box-sizing: border-box;

    box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px 0px;
    border-radius: 8vh;
    background: var(--main-color);

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2vh 0 2vh 3vh;
}

#main {
    padding: 1vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

#intro_greeting {
    flex:1;
    font-size: 9vh;
    margin-top: 2.5vh;
}
#intro_major {
    flex:2;
    font-size: 4vh;
    line-height: 5vh;
    margin-top: 2vh;
}
#intro_paragraph {
    flex:3;
    font-size: 2.5vh;
    line-height: 3vh;
    margin-top: -0.5vh;
    margin-bottom: 0.5vh;
}
#main ul {
    flex:4;
    font-size: 1.25vh;
    justify-content: center;
}


#sidebar {
    flex:2;
    padding: 30px;
    margin: 4rem 0 0 -1em;

    display: flex;               
    justify-content: center;      
    align-items: center;
}
#sidebar img {
    max-width: 80%;
    height: 70vh; 
    margin-bottom: 3.8em;

    border: 0.75vh solid var(--accent-color); 
    border-radius: 8vh;
}

@media screen and (max-width: 1300px) {
    #home-box {
        flex-direction: column;
        max-height: 100%;
        justify-content: center;
        margin-bottom: 2em;
    }

    #main-box {
        justify-content: center;
        margin-left: 0
    }

    #sidebar {
        justify-content: center;
        margin-bottom: 2.25em;
        padding: 0;
        max-width: 60%;
        margin-top: 10px
    }

    #sidebar img {
        margin: 10px;
    }
}

@media screen and (max-width: 768px) {
    #home-box {
        max-height: 100%;
        margin-bottom: 2em;
    }

    #main-box {
        margin-left: 0
    }

    #sidebar {
        margin-bottom: 2.25em;
    }

    #sidebar {
        max-width: 50%;
        margin-top: 10px
    }
    #sidebar img {
        margin: 10px;
    }
}