#home {
    background: var(--bkg-color);
    height: 100vh;
}

#home .container {
    height: 90vh;
    border-radius: 20px; 
    padding: 20px; 
    box-sizing: border-box; 
    overflow: hidden; 
}

#home-box {
    background: var(--main-color);
    height: 85%;
    border-radius: 20px; 
    padding: 0 20px 20px 20px;
    box-sizing: border-box; 
    overflow: hidden; 
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#main-box {
    flex:3;
    float: left;
    padding: 25px 30px;
    box-sizing: border-box;

    box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px 0px;
    border-radius: 40px;
    background: var(--main-color);

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;

    margin-top: 2em;

}


#main {
    padding: 25px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
}

#intro_greeting {
    flex:1;
    font-size: 4em;
    margin-top: 0.2em;
}
#intro_major {
    flex:2;
    font-size: 2em;
    line-height: 1.25em;
    margin-top: 0.45em;

}
#intro_paragraph {
    flex:3;
    font-size: 1.25em;
    margin-top: -0.25em;
    margin-bottom: 1em;
}
#main ul {
    flex:4;
    font-size: 1.25em;
    justify-content: center;
}


#sidebar {
    flex:2;
    float: right;
    width: 40%;
    height: 80vh;
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    justify-content: center; 
    align-items: center;
    

}
#sidebar img {
    max-width: 80%;
    height: auto; 
    border-radius: 4em;
    margin-bottom: 3.8em;

    border: 6px solid var(--accent-color); 
    border-radius: 5em;
}


