@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #000;
    font-family: "Karla", "Merriweather", serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.main-header {
    background: #5E9FAF;

    font-size: large;
    font-family: "Karla", serif;
    display: flex; 

}

.container h1 {
    padding: 0.5em 1.5em;
}
#navbar {
    font-family:  "Merriweather", serif;
    font-size: 1em;
    color: #fff;
    padding: 0.5em 0em;
    font-size: 1.25em;

    width: 100%;
    margin: auto;
}
#navbar ul {
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
#navbar ul li {
    margin-left: 20px;
}
#navbar a {
    color: #000;
    text-decoration: none;
}
#navbar a:hover {
    color: #fff;
}

#home {
    background: #cee8ee;
    height: 100vh;
}

#main {
    float: left;
    width: 60%;
    height: 100vh;
    
    padding: 25px 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: left; 
    gap: 10px;
    
}
#intro_greeting {
    flex:1;
    font-size: 4em;;
}
#intro_major {
    flex:2;
    font-size: 2em;
}
#intro_paragraph {
    flex:3;
    font-size: 1.25em;
    margin-bottom: 1em;
}
#main ul {
    flex:4;
    font-size: 1.25em;
    margin-bottom: 1em;
}

#sidebar {
    float: right;
    width: 40%;
    height: 100vh;
    padding: 5px 5px 5px 5px; /* top right bottom left */
    box-sizing: border-box;

    display: flex;
    justify-content: center; 
    align-items: center;
}
#sidebar img {
    flex: 1;
    max-width: 85%; ;
    height: auto; 
    border-radius: 4em;

    border: 6px solid #5E9FAF; 
    border-radius: 5em;
}
