.main-footer {
    background: #000;
    color: #fff;
    font-size: 2vh;
    height: 13vh;
    padding: 1vh;
}

#footer-icons {
    display: flex;
    justify-content: center;
}
#footer-icons .tooltip {
    display: none; 
}

#copy-right{
    color: #fff;
    font-size: 1.5vh;
    text-align: center;
}
