.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
position: relative;
background: var(--bkg-color);
border-radius: 50%;
padding: 1vh;
margin: 1.212vh;
width: 6.058vh;
height: 6.058vh;
font-size: 2.181vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0 1.212vh 1.212vh rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
position: absolute;
top: 0;
font-size: 1.696vh;
background: var(--bkg-color);
color: var(--bkg-color);
padding: 0.606vh 0.969vh;
border-radius: 0.606vh;
box-shadow: 0 1.212vh 1.212vh rgba(0, 0, 0, 0.1);
opacity: 0;
pointer-events: none;
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
position: absolute;
content: "";
height: 0.969vh;
width: 0.969vh;
background: var(--bkg-color);
bottom: -0.363vh;
left: 50%;
transform: translate(-50%) rotate(45deg);
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
top: -5.452vh;
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
text-shadow: 0 -0.121vh 0 rgba(0, 0, 0, 0.1);
}

/* Makes the icons responsive */
.wrapper .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Colors for the icons */
.email { --color: #0000FF;}
.linkedin { --color: #0077b5;}
.github {--color: #333333;}
.instagram { --color: #e4405f;}

/* Changes the background and text color of the icon when hovered */
.icon:hover,
.icon:hover .tooltip,
.icon:hover .tooltip::before {
background: var(--color);
color: white;
}

/* Adds the data-link attribute to the icon */
.wrapper .icon::before {
    content: attr(data-link); 
    display: none;
}


/* Makes Github, Linkedin, and  Email icons white when hovered */
.wrapper .icon.github:hover img {
    filter: invert(100%);
}
.wrapper .icon.email:hover img {
    filter: invert(100%);
}
.wrapper .icon.linkedin:hover img {
    filter: invert(100%);
}
