/* Navbar styles */
#bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 0 0 2.5vh 0;
    position: sticky;
    top: 2vh;
    z-index: 10000;
}

.navbar {
    font-size: 2.5vh;
    font-weight: 500;
    padding: 1vh;
    background-color: var(--bkg-color);
    border-radius: 10vh;
    box-shadow: 0 0 0.3vh 0 rgba(24, 94, 224, 0.15), 0 1vh 1.5vh 0 rgba(24, 94, 224, 0.15);
    list-style: none;
    position: relative;
    display: flex;

    max-width: 100vw;
}

input[type="radio"] {
    display: none;
    appearance: none; 
    -moz-appearance: none;
    -webkit-appearance: none; 
}

.tab {
    width: 17.2vh;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    border-radius: inherit;
    cursor: pointer;
    z-index: 2;
}

.navbar .slider {
    width: 17.2vh;
    height: 5.5vh;
    position: absolute;
    border-radius: inherit;
    background-color: var(--accent-color);
    z-index: 0;
    transition: 0.25s ease;
}

.tab.active {
    color: var(--highlight-color);
    background-color: var(--accent-color);
}

input[type="radio"]:checked + label {
    color: var(--blk-text);
}

input[type="radio"]:hover + label {
    color: var(--ob-blue);
}

input[id="home"]:checked ~ .slider {
    transform: translateX(0);
}

input[id="projects"]:checked ~ .slider {
    transform: translateX(100%);
}

input[id="skills"]:checked ~ .slider {
    transform: translateX(200%);
}

input[id="resume"]:checked ~ .slider {
    transform: translateX(300%);
}

input[id="photography"]:checked ~ .slider {
    transform: translateX(400%);
}

input[id="contact"]:checked ~ .slider {
    transform: translateX(500%);
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 10001;
    position: fixed;
    top: 2vh;
    left: 2vh;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 50%;
    width: 7vh; 
    height: 7vh;
    justify-content: center;
    align-items: center;
    padding: 0.5vh; 
}

.hamburger-menu span {
    display: block;
    height: 0.4vh; 
    width: 3vh; 
    background: var(--main-color); 
    margin: 0.4vh 0; 
    border-radius: 0.2vh; 
    padding: 0.2vh; 
}

/* Media queries */
@media (orientation: portrait) {
    .navbar {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}

@media (max-width: 350px) {
    .navbar {
        font-size: 2.5vw;
        padding: 1vw;
        border-radius: 10vw;
        box-shadow: 0 0 0.3vw 0 rgba(24, 94, 224, 0.15), 0 1vw 1.5vw 0 rgba(24, 94, 224, 0.15);
    }

    .tab {
        width: 17.2vw;
        height: 5.5vw;
        padding: 1vw;
    }

    .navbar .slider {
        width: 17.2vw;
        height: 5.5vw;
    }
}

.dimmed-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.dimmed-background.active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bkg-color);
    padding: 2vh;
    border-radius: 1vh;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.nav-links.active {
    transform: translateX(0);
}

.nav-links a {
    margin: 1vh 0;
    color: var(--blk-text);
    text-decoration: none;
    font-size: 3vh;
}

.nav-links a:hover {
    color: var(--accent-color);
}
