#bar-section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;
    padding: 0 0 2.5vh 0;

    position: sticky;
    top: 2vh;
    z-index: 1000;
}

.navbar {
    font-size: 2.5vh;
    font-weight: 500;
    padding: 1vh;
    
    background-color: var(--bkg-color);
    border-radius: 10vh;
    box-shadow: 0 0 0.3vh 0 rgba(24, 94, 224, 0.15),0 1vh 1.5vh 0 rgba(24, 94, 224, 0.15);
    list-style: none;
    position: relative;

    display: flex;
}

input[type="radio"] {
    display: none;
    appearance: none; 
    -moz-appearance: none;
    -webkit-appearance: none; 
}

.tab {
    width: 17.2vh;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    border-radius: inherit;
    cursor: pointer;
    z-index: 2;
}

.navbar .slider {
    width: 17.2vh;
    height: 5.5vh;
    position: absolute;
    border-radius: inherit;
    background-color: var(--accent-color);
    z-index: 0;
    transition: 0.25s ease;
}

.tab.active {
    color: var(--highlight-color);
    background-color: var(--accent-color);
}


input[type="radio"]:checked + label {
    color: var(--blk-text);
}
input[type="radio"]:hover + label {
    color: var(--ob-blue);
}

input[id="home"]:checked ~ .slider {
    transform: translateX(0);
}
input[id="projects"]:checked ~ .slider {
    transform: translateX(100%);
}

input[id="skills"]:checked ~ .slider {
    transform: translateX(200%);
}
input[id="resume"]:checked ~ .slider {
    transform: translateX(300%);
}
input[id="photography"]:checked ~ .slider {
    transform: translateX(400%);
}
input[id="contact"]:checked ~ .slider {
    transform: translateX(500%);
}


@media screen and (max-width: 1300px) {
    .navbar {
        display: none;
    }
}
